	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="header_left d-flex">
						<a href="#">
							<p>
								О нас
							</p>
						</a>
						<a href="#">
							<p>
								Регистрация
							</p>
						</a>
						<a href="#">
							<p>
								Отзывы
							</p>
						</a>					
					</div>
				</div>
				<div class="col-md-4">
					<h1 class="logo">
						TABACCO.KZ
					</h1>
				</div>
				<div class="col-md-4">
					<div class="header_right d-flex pull-right">	
						<a href="#">
							<i class="fab fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fab fa-vk"></i>
						</a>
						<a href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
						<a href="https://www.instagram.com/srroyrek/">
							<i class="fab fa-instagram"></i>
						</a>
						<form action="#" >
							<button class="login">
								Вход
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>