body{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

/*---------------- Header ----------*/

header {
  padding-top: 16px;
  height: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.logo {
  font-size: 24px;
  color: black;
  margin-top: 0px;
}

.header_block {
  margin-left: 60px;
}

.header_block p{
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
}

.header_img {
  margin-right: 8px;
}

.time {
  height: 20px;
}

i {
  font-size: 18px;
  color: #8b4513;
  margin-top: 4px;
  margin-right: 10px;
}

i:hover {
  color: #4169E1;
}
