/*---------------- Header ----------*/

header {
	height: 70px;
	background-color: black;
}

.logo {
	color: white;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.1em;
	margin-top: 15px;
}

.header_left a p{
	color: white;
	margin-right: 50px;
	margin-top: 25px;
	font-size: 14px;
}

.header_left a p:hover {
	color: #c6c5c5;
}

.header_left a:hover {
	text-decoration: none;
}

.header_right {
	margin-top: 25px;
	margin-left: 110px;
}

.login {
	color: white;
	font-size: 14px;
	margin-left: 30px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	width: 70px;
	height: 30px;
	margin-top: -5px;
}

.login:hover{
	color: black;
	background-color: white;
}

.header_right i {
	margin-right: 20px;
	color: white;
	font-size: 14px;
}

.header_right i:hover {
	color: #c6c5c5;
}

/*------------- Section1 --------*/

.category_block {
	padding-top: 20px;
}

.category_block a {
	margin-right: 25px;
	color: #808080;
	font-size: 16px;
}

.red {
	color: red;
}

.cart {
	margin-right: 25px;
	margin-left: 160px;
	font-size: 20px;
}

.category_right {
	margin-top: -5px;
}

.category_right a i {
	font-size: 26px;
}

.amount {
	font-size: 20px;
	color: black;
}

.section1_line {
	height: 1px;
	width: 100%;
	margin-top: 5px;
	background-color: #D3D3D3;
}
