	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="header_left d-flex">
						<a href="#">
							<p>
								О нас
							</p>
						</a>
						<a href="#">
							<p>
								Регистрация
							</p>
						</a>
						<a href="#">
							<p>
								Отзывы
							</p>
						</a>					
					</div>
				</div>
				<div class="col-md-4">
					<h1 class="logo">
						TABACCO.KZ
					</h1>
				</div>
				<div class="col-md-4">
					<div class="header_right d-flex pull-right">	
						<a href="#">
							<i class="fab fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fab fa-vk"></i>
						</a>
						<a href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
						<a href="https://www.instagram.com/srroyrek/">
							<i class="fab fa-instagram"></i>
						</a>
						<form action="#" >
							<button class="login">
								Вход
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="Section1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="category_block d-flex">
						<div class="category_left d-flex">
							<a href="#">
								<p class="red">
									Акции дня
								</p>
							</a>
							<a routerLink="/shopCig">
								<p>
									Сигареты
								</p>
							</a>
							<a routerLink="/shopTabak">
								<p>
									Табак
								</p>
							</a>
							<a href="#">
								<p>
									Кальяны
								</p>
							</a>
							<a href="#">
								<p>
									Vape
								</p>
							</a>
							<a href="#">
								<p>
									Iqos
								</p>
							</a>
							<a href="#">
								<p>
									Сигары
								</p>
							</a>
							<a href="#">
								<p>
									Чехлы
								</p>
							</a>
							<a href="#">
								<p>
									PREMIUM
								</p>
							</a>							
						</div>
						<div class="category_right d-flex">
							<p class="cart">Корзина</p>
							<a href="#">
								<i class="fas fa-shopping-basket"></i>
							</a>
							<p class="amount">0</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section1_line"></div>
	</section>