	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<h1 class="logo">
						TABACCO
					</h1>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-5 d-flex">
					<div class="header_block d-flex">
						<div class="header_img">
							<img src="/assets/img/time.png" class="time">
						</div>
						<p>пн - сб: 10:00 - 19:00</p>
					</div>
					<div class="header_block d-flex">
						<div class="header_img">
							<img src="../../../img/phone.png" class="phone">
						</div>
						<p>8 (707) 315 - 83 - 58</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="pull-right">
						<a href="#">
							<i class="fab fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fab fa-vk"></i>
						</a>
						<a href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
						<a href="https://www.instagram.com/srroyrek/">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="Section1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section_title">
						Любишь качественный табак?
					</h2>
					<p class="section_par">
						Заходи в наш магазин и наслаждайся огромным ассортиментом сигарет, табака и различных аксессуаров
					</p>
					<div class="section1_line"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<form action="shop.html" class="header_form_button" routerLink="/shopCig">
						<button class="section_button">
							<p class="button_par">
								ПЕРЕЙТИ В МАГАЗИН
							</p>
						</button>
					</form>
				</div>
				<div class="col-md-4">
					<form action="#yakor_company" class="header_form_button">
						<button class="section_button">
							<p class="button_par">
								УЗНАТЬ БОЛЬШЕ
							</p>
						</button>
					</form>
				</div>
				<div class="col-md-4">
					<form action="#" class="header_form_button">
						<button class="section_button">
							<p class="button_par">
								ЗАРЕГИСТРИРОВАТЬСЯ
							</p>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="Section2" id="yakor_company">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="section2_line"></div>
					<h3>О НАШЕМ МАГАЗИНЕ</h3>
					<div class="section2_par">
						Магазин “TABACCO” предлагает вам огромный асортимент качественого табака, сигарет любого вида, кальянов, вейпов и всех новинок электронных приборов. <br><br>

						Мы, проффисионалы в этих вопросов и предлагаем Вам наш ассортимент и возможность доставить товар в любую точку мира.
					</div>
					<form action="#">
						<button class="about_btn">
							ПЕРЕЙТИ В МАГАЗИН
						</button>
					</form>
				</div>
				<div class="col-md-5">
					<div>
						<img src="tabak.jpg" class="about_img">
					</div>
				</div>
			</div>
		</div>
	</section>

<app-footer></app-footer>
